<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--<suite name="Suite">-->
<suite name="Suite" parallel="methods" thread-count="4">
	<test name="Test">
		<groups>
			<run>
				<include name="ReportingTest" />            
			</run>
		</groups>
		<packages>
   			<package name = "com.clientname.app.tests"></package>
  		</packages>
 	</test>  
</suite> <!-- Suite -->
